* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
background-color: #000000;
}
.container {
  max-width: 1370px;
  padding: 0 15px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
/* .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
} */

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  width: 100%;
}
.img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

/* ====================navbar=============================== */

.navbar {
  position: relative;
  width: 100%;
  min-height: 100px;
  z-index: 100;

}
.navbar .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container .row .logo {
  margin-top: 20px;
}

.navbar .container .logo img {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.navbar .container .nav-menu ul {
  display: flex;
}
.navbar .container .nav-menu ul li {
  padding: 10px 15px;
}
.navbar .container .nav-menu ul li a {
  margin-top: 34px;
  color: #ffffff;
  font-size: 16px;
}
.navbar .container .nav-menu ul button {
  border-radius: 50px;
  padding: 14px 14px;
  border: none;
}

.navbar .container .hamburger {
  display: none;
}
