* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #000000;
}
.container {
  max-width: 1370px;
  padding: 0 15px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
/* .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
} */

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  width: 100%;
}
img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.col100 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.col50 {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
}

.col33 {
  max-width: 33.33%;
  flex: 0 0 33.33%;
  padding: 0 15px;
}
.col25 {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 15px;
}
/* ====================navbar=============================== */

.navbar {
  position: relative;
  width: 100%;
  min-height: 100px;
  z-index: 100;
  margin-top: 16px;
}
.navbar .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container .logo img {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.navbar .container .nav-menu ul {
  display: flex;
}
.navbar .container .nav-menu ul li {
  padding: 10px 15px;
}
.navbar .container .nav-menu ul li a {
  color: #ffffff;
  font-size: 16px;
}
.navbar .container .nav-menu ul li a:hover {
  color: #11e44f;
}
.navbar .container .btn button {
  border-radius: 50px;
  padding: 17px 32px;
  border: none;
  background-color: #11e44f;
  color: #121212;
  text-transform: capitalize;
}

.navbar .container .btn button:hover {
  background-color: #39eb6e;
}

.navbar .container .hamburger {
  display: none;
}

/* ===========================banner============================= */
.banner {
  position: relative;
  background-image: url(../image/banner.jpg);
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner .container .row .col100 .text {
  text-align: center;
  padding-top: 50px;
}

.banner .container .row .col100 .text h1 {
  font-size: 54px;
  padding-left: 200px;
  padding-right: 200px;
  color: #ffffff;
}

.banner .container .row .col100 .text span {
  color: #11e44f;
}

.banner .container .row .col100 .text p {
  font-size: 20px;
  color: #ffffff;
  padding-top: 20px;
}

.banner .container .row .col100 .text button {
  background-color: #11e44f;
  color: #ffffff;
  font-size: 20px;
  padding: 17px 32px;
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  text-transform: capitalize;
}
.banner .container .row .col100 .text button:hover {
  background-color: #39eb6e;
}

/* ===============swiper==================== */

.swiperlorem {
  min-height: 100px;
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ==================about========================== */
.about {
  min-height: 700px;
  position: relative;
  width: 100%;
}
.about .container .row .col50 .text {
  color: #ffffff;
  padding-top: 100px;
}
.about .container .row .col50 .text h2 {
  color: #11e44f;
  font-size: 20px;
  font-weight: bold;
}

.about .container .row .col50 .text h3 {
  color: #fcfcfc;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
}

.about .container .row .col50 .text button {
  background-color: #11e44f;
  padding: 17px 32px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  text-transform: capitalize;
}
.about .container .row .col50 .text button:hover {
  background-color: #39eb6e;
}

.about .container .row .col33 {
  color: #ffffff;
  margin-top: 50px;
}

.about .container .row .col33 .box {
  border: 2px solid #ffffff;
}

.about .container .row .col33 .box:hover {
  background-color: #013310;
}

.about .container .row .col33 .box .text {
  padding-top: 30px;
}

.about .container .row .col33 .box .text h4 {
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
}

.about .container .row .col33 .box .text p {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 20px;
}

/* =================================service============================== */
.service {
  min-height: 500px;
  position: relative;
  width: 100%;
}

.service .container .row .col100 .text {
  text-align: center;
}

.service .container .row .col100 .text h2 {
  font-size: 40px;
  color: #fcfcfc;
  text-transform: capitalize;
  padding-top: 20px;
}

.animate {
  font-size: 30px;
  margin: 100px 0 0;
  color: #11e44f;
}

.animate span {
  display: inline-block;
}

.animate span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.animate span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.animate span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.animate span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.animate span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.animate span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.animate span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.animate span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.animate span:nth-of-type(10) {
  animation-delay: 0.45s;
}
.animate span:nth-of-type(11) {
  animation-delay: 0.5s;
}
.animate span:nth-of-type(12) {
  animation-delay: 0.55s;
}
.animate span:nth-of-type(13) {
  animation-delay: 0.6s;
}
.animate span:nth-of-type(14) {
  animation-delay: 0.65s;
}
.animate span:nth-of-type(15) {
  animation-delay: 0.7s;
}
.animate span:nth-of-type(16) {
  animation-delay: 0.75s;
}
.animate span:nth-of-type(17) {
  animation-delay: 0.8s;
}
.animate span:nth-of-type(18) {
  animation-delay: 0.85s;
}
.animate span:nth-of-type(19) {
  animation-delay: 0.9s;
}
.animate span:nth-of-type(20) {
  animation-delay: 0.95s;
}

.five span {
  color: #11e44f;
  font-size: 30px;
  opacity: 0;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: dropVanish 0.5s forwards;
}

@keyframes dropVanish {
  30% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }

  50% {
    transform: translate(0, 20px) scale(0.8) rotate(0deg);
    opacity: 1;
  }

  80% {
    transform: translate(-100px, -100px) scale(1.5) rotate(-180deg);
    opacity: 0;
  }

  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}

.service .container .row .col33 .box {
  background-color: #313131;
  text-align: center;
  color: #ffffff;
  border: 2px solid #fff;
  margin-top: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url(../image/result.webp);
}

.service .container .row .col33 .box:hover {
  background-color: #39eb6e;
  color: #000000;
  background-image: none;
}

.service .container .row .col33 .box #icon {
  background-color: #11e44f;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.service .container .row .col33 .box #icon:hover {
  color: #ffffff;
  background-color: #000000;
}

.service .container .row .col33 .box h4 {
  font-size: 25px;
  font-weight: 800;
  padding-top: 20px;
  text-transform: capitalize;
}

.service .container .row .col33 .box p {
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
  text-transform: capitalize;
}

.service .container .row .col33 .box button {
  background-color: #11e44f;
  padding: 17px 32px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.service .container .row .col33 .box button:hover {
  background-color: #000000;
}

/* =======================================================counter========================================================= */

.stats-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
  background-image: url(../image/counter.webp);
  border-radius: 20px;
  max-width: 1370px;
  margin: 100px auto;
  flex-wrap: wrap;
}

.stat-box {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  min-width: 220px;
  transition: transform 0.3s ease;
}

.stat-box:hover {
  transform: scale(1.05);
}

.stat-box h2 {
  font-size: 2.5em;
  display: inline-block;
  margin: 0;
}

.stat-box span {
  font-size: 1.8em;
  font-weight: bold;
  vertical-align: top;
  margin-left: 5px;
}

.stat-box p {
  margin: 10px 0 0;
  font-weight: bold;
  font-size: 1.1em;
}

/* ======================process============================= */

.process {
  min-height: 700px;
  position: relative;
  width: 100%;
}
.process .container .row .col100 .text {
  text-align: center;
}
.process .container .row .col100 .text h2 {
  color: #11e44f;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.process .container .row .col100 .text h3 {
  color: #fcfcfc;
  font-size: 40px;
  padding-top: 30px;
}

.process .container .row .col33 h4 {
  color: #fcfcfc;
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}
.process .container .row .col33 .box {
  border: 2px solid #ffffff;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.process .container .row .col33 .box:hover {
  border: 2px solid #11e44f;
}
.process .container .row .col33 .box i {
  font-size: 76px;
  color: #11e44f;
  margin-top: 30px;
}

.process .container .row .col33 .box h5 {
  font-size: 25px;
  color: #ffffff;
  margin-top: 30px;
}

.process .container .row .col33 .box p {
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* ======================choose===================================== */

.choose {
  min-height: 600px;
  position: relative;
  width: 100%;
}

.choose .container .row .col50 .text {
  padding-left: 30px;
}
.choose .container .row .col50 .text i {
  padding-right: 30px;
}
.choose .container .row .col50 .text h2 {
  font-size: 20px;
  color: #11e44f;
}

.choose .container .row .col50 .text h3 {
  font-size: 40px;
  color: #fcfcfc;
}
.choose .container .row .col50 .text p {
  font-size: 20px;
  padding-top: 20px;
  color: #fcfcfc;
}

.features {
  width: 80%;
  max-width: 800px;
}

.feature {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0;
}

.icon {
  background-color: #00ff7f;
  color: #000;
  font-size: 24px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.icon:hover {
  background-color: #11e44f;
}

.content h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.content p {
  color: #ccc;
  font-size: 15px;
  margin-top: 6px;
  line-height: 1.5;
}

hr {
  border: none;
  border-bottom: 1px solid #1f1f1f;
}

hr:hover {
  border-bottom: 1px solid #11e44f;
}

.feature:first-of-type hr {
  border-bottom: 2px solid #00ff7f;
}

/* ===========================potential================================ */

.potential {
  background: url("../image/ozon.webp"), no-repeat, center;
  width: 100%;
  max-width: 1370px;
  margin: 100px auto;
  height: 400px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.overlay-box {
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  padding: 40px 60px;
  border-radius: 20px;
  text-align: center;
  color: white;
  max-width: 800px;
  margin: 100px auto;
}

.overlay-box h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

.overlay-box p {
  font-size: 15px;
  color: #e0e0e0;
  margin-bottom: 30px;
}

.cta-btn {
  background: white;
  color: #111;
  padding: 12px 40px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  background: #00b341;
  color: white;
}

/* ==========================portfolio================================== */

.portfolio {
  min-height: 1000px;
  position: relative;
  width: 100%;
}
.portfolio .container .row .col100 .text {
  text-align: center;
}

.portfolio .container .row .col100 .text h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  color: #11e44f;
}
.portfolio .container .row .col100 .text p {
  color: #fcfcfc;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.portfolio .container .row .col33 .box {
  border: 2px solid #ffffff;
  margin-bottom: 30px;
  height: 450px;
  overflow: hidden;
}

.portfolio .container .row .col33 .box .image img {
  height: 450px;
}

/* ===================testimonial=================== */

.testimonial {
  min-height: 1000px;
  width: 100%;
  position: relative;
  margin-top: 50px;
}
.testimonial .container .row .col50 .text h2 {
  color: #11e44f;
  font-size: 20px;
  text-transform: capitalize;
}

.testimonial .container .row .col50 .text p {
  font-size: 40px;
  color: #fcfcfc;
  text-transform: capitalize;
  padding-bottom: 30px;
}

.testimonial .container .row .col50 .text span {
  font-size: 16px;
  color: #fcfcfc;
  text-transform: capitalize;
  line-height: 1.2;
}

.testimonial .container .row .col50 .btn button {
  background-color: #11e44f;
  padding: 17px 32px;
  border-radius: 50px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 20px;
  border: none;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.testimonial .container .row .col50 .image img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonial-card {
  background-color: #111;
  border-radius: 20px;
  padding: 25px;
  border: 1px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #00ff73;
  margin-right: 15px;
}

.user-details {
  flex-grow: 1;
}

.user-details h3 {
  margin: 0;
  font-size: 1.2em;
  color: #fff;
}

.user-details .role {
  color: #00ff73;
  font-size: 0.9em;
}

.quote {
  font-size: 2em;
  color: #00ff73;
}

.testimonial-text {
  color: #ccc;
  line-height: 1.6;
  font-size: 0.95em;
}

/* ==================insight========================= */
.insight {
  min-height: 500px;
}

.insight .container .row .col100 .text {
  text-align: center;
}
.insight .container .row .col100 .text h2 {
  color: #11e44f;
  font-size: 20px;
  text-transform: capitalize;
}

.insight .container .row .col100 .text h3 {
  color: #fcfcfc;
  font-size: 30px;
  text-transform: capitalize;
  padding-top: 10px;
}
.insight .container .row .col33 .image {
  margin-top: 30px;
  border-radius: 10px;
  opacity: 0.5;
  overflow: hidden;
  margin: 10px;
  transition: transform 0.3s ease;
}

.insight .container .row .col33 .image img {
  height: 442px;
}

/* ======================newsletter=================================== */

.newsletter {
  position: relative;
  background-image: url(../image/footertop.webp);
  width: 100%;
  max-width: 1370px;
  margin: 100px auto;
  height: 400px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.newsletter-box {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(25px);
  border-radius: 25px;
  padding: 50px 60px;
  margin: 100px auto;
  color: white;
  text-align: center;
  max-width: 800px;
}

.newsletter-box h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.newsletter-box p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 35px;
  color: #ddd;
}

.input-box {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.input-box input {
  width: 400px;
  padding: 15px 25px;
  border-radius: 30px;
  border: 2px solid #ccc;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 1rem;
}

.input-box input::placeholder {
  color: #ddd;
}

.input-box button {
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  background: white;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.input-box button:hover {
  background: #cc9e9e;
}

/* ==================footer====================================== */

.footer {
  min-height: 300px;
  width: 100%;
  background-color: #000000;
}

.footer .container .row .col25 .images {
  padding-top: 30px;
}

.footer .container .row .col25 .images img {
  width: 150px;
  height: auto;
}
.footer .container .row .col25 .para-1 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.footer .container .row .col25 .social-icons {
  padding-top: 50px;
}

.footer .container .row .col25 .social-icons a {
  color: #ffffff;
  display: flex;
  margin-bottom: 10px;
}
.footer .container .row .col25 .social-icons a i {
  color: #fff;
  margin-right: 10px;
}

.footer .container .row .col25 .para-2 {
  font-size: 30px;
  font-weight: 500;
  color: #11e44f;
  padding-top: 30px;
}

.footer .container .row .col25 ul li a {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}
.footer .container .row .col25 ul li a:hover {
  color: #209f2e;
  padding-left: 20px;
}

.footer .container .row .col25 button{
background-color: #11e44f;
color: #000;
font-size: 20px;
border: none;
padding: 10px 17px;
margin-top: 30px;
border-radius: 50px;
text-transform: capitalize;
}

.footer .container .row .col25 button:hover{
  background-color: #00b341;
}
.footer .container .row .col100 {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
  text-align: center;
}
.footer .container .row .col100 p {
  padding-top: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
